fieldset.adplugg-widget-fieldset {
    padding: 4px 6px 6px 6px;
    border: solid 1px #e5e5e5;
    margin: 2px 0 2px 0;
}
fieldset.adplugg-widget-fieldset legend {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
