/**
 * Style for AdPlugg in the administrator.
 * @package AdPlugg
 * @since 1.1
 */

fieldset.adplugg-widget-fieldset {
    padding: 4px 6px 6px 6px;
    border: solid 1px #e5e5e5;
    margin: 2px 0 2px 0;
}
fieldset.adplugg-widget-fieldset legend {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.adplugg-notice button {
    background-color: #fafafa;
    color: #666;
    border-radius: 2px;
    margin-right: 8px;
    padding: 2px 8px;
    border: none;
    box-shadow: none;
    
}
.adplugg-notice button:hover {
    background-color: #e0e0e0;
    color: #555;
    cursor: pointer;
}