/**
 * Style for AdPlugg in the administrator.
 * @package AdPlugg
 * @since 1.1
 */

/* ================== Menu ================== */
#adminmenu #toplevel_page_adplugg .menu-icon-generic div.wp-menu-image::before {
    font-family: 'adplugg-wp' !important;
    content: '\e800';
}

/* ================= Widget ================= */
fieldset.adplugg-widget-fieldset {
	padding: 4px 6px 6px 6px;
	border: solid 1px #e5e5e5;
	margin: 1em 0 1em 0;
}
fieldset.adplugg-widget-fieldset legend {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

fieldset.adplugg-widget-fieldset input[type='checkbox'] {
	-webkit-appearance: button;
}
/* Hide the "Settings" legend and show the "Optional Settings" legend by default */
legend.adplugg-widget-legend {display: none;}

/* hide special use fields by default */
.adplugg-widget-field-width {display: none;}
.adplugg-widget-field-height {display: none;}
.adplugg-widget-field-default {display: none;}

/* ===== FBIA ===== */

/* show the "Settings" legend instead of the "Optional Settings" legend */
#facebook_ia_header_ads legend.adplugg-widget-optional-legend {display: none;}
#facebook_ia_header_ads legend.adplugg-widget-legend {display: block;}

/* show special use fields */
#facebook_ia_header_ads .adplugg-widget-field-width {display: block;}
#facebook_ia_header_ads .adplugg-widget-field-height {display: block;}
#facebook_ia_header_ads .adplugg-widget-field-default {display: block;}

/* ===== AMP ===== */

/* show the "Settings" legend instead of the "Optional Settings" legend */
#amp_ads legend.adplugg-widget-optional-legend {display: none;}
#amp_ads legend.adplugg-widget-legend {display: block;}

/* show special use fields */
#amp_ads .adplugg-widget-field-width {display: initial;}
#amp_ads .adplugg-widget-field-height {display: initial;}
#amp_ads .adplugg-widget-field-default {display: initial;}


/* ================= Notices ================= */
.adplugg-subtle-button {
	background-color: #fafafa !important;
	color: #666 !important;
	border: solid 1px #f1f1f1 !important;
	box-shadow: none !important;
	height: 26px !important;
}
.adplugg-subtle-button:hover {
	background-color: #e0e0e0 !important;
	color: #555 !important;
	border-color: #ccc !important;
	cursor: pointer !important;
}
p.adplugg-notice-buttons button {
	margin-right: 0.5em !important;
}

/* ================= Video Tiles ================= */
.adplugg-videos {
	margin: 0 0 1em 3em;
	overflow: hidden;
}
.adplugg-video-tile {
	width: 180px;
	float: left;
	margin: 0 1em 1em 0;
	text-align: center;
}
.adplugg-video-tile figurecaption{ font-weight: bold;}
.adplugg-video-tile h2 {height: 2em;}
.adplugg-video-tile figure { margin: 0;}
